:root {
	--black: #121212;
	--transp-black: #121212ba;
	--ice-blue-text: #7ec4cfc9;
	--ice-blue: #abe1e6;
	--max-width: 900px;
}

html {
	height: 100dvh;
}

body {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(#0000009a,#000000a1), url(../assets/images/xmas_mini.jpg) bottom 8% center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-inline: 3.5%;
	padding-block: 1.1rem .8rem;
	color: var(--ice-blue-text);
}

/* ========== LAYOUT ========== */

header {
	width: min(100%, 940px);
}

main {
	flex: 1 0;
	width: min(98%, var(--max-width));
	/* overflow-y: auto; */
}

/* ========== TYPOGRAPHY ========== */

.boldonse-regular {
	font-family: "Boldonse", system-ui;
	letter-spacing: 0.03em;
	font-variant: petite-caps;
	font-weight: 400;
	text-wrap: balance;
	word-spacing: .04em;
	text-shadow:
		1.15px 1.15px 1px var(--black),
		1.15px -1.15px 1px var(--black),
		-1.15px 1.15px 1px var(--black),
		-1.15px -1.15px 1px var(--black);
	-webkit-text-stroke: 0.5px var(--black);
}

h1 {
	font-size: clamp(1rem, 0.1rem + 8.6vw, 2.6rem);
	line-height: 1.65;
	text-align: center;
	margin-inline: auto;
}

div#main-content {
	font-size: clamp(1.05rem, 0.2rem + 4.5vw, 1.5rem);

	> p {
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		line-height: 1.45;
		word-spacing: .03em;
		text-shadow:
			1px 1px 1px var(--black),
			1px -1px 1px var(--black),
			-1px 1px 1px var(--black),
			-1px -1px 1px var(--black);
		margin-bottom: 0.95rem;
		width: fit-content;

		&:first-child {
			font-size: 1.22em;
		}
	}
}

footer.sign-off {
	font-size: clamp(1.05rem,0.6rem + 2.8vw,1.8rem);
	width: min(100%, var(--max-width));

	> p {
		font-size: 1em;
		line-height: 2.05;
	}

	> p:first-child {
		font-size: 0.87em;
	}
}

/* ========== MEDIA QUERIES ========== */

@media (width > 650px) {
	body {
		padding-block: 1.5em 1em;
	}

	h1 {
		font-size: clamp(2.3rem, 0.156rem + 4.75vw, 3.1rem);
	}
}

@media (width > 900px) {
	footer.sign-off > p {
		text-align: center;
	}
}