:root {
	--black: #121212cc;
	--ice-blue: #7dbed0;
	--darker-ice-blue: #5893a2dd;
	--ice-blue-gradient: radial-gradient(transparent, #679faebb, transparent);
	--max-width: 860px;
	--boldonse-text-shadow: 1.15px 1.15px 1px var(--black), 1.15px -1.15px 1px var(--black), -1.15px 1.15px 1px var(--black), -1.15px -1.15px 1px var(--black);
	--main-text-shadow: 1px 1px 10px var(--black), 1px -1px 10px var(--black), -1px 1px 10px var(--black), -1px -1px 10px var(--black);
}

html {
	height: 100dvh;
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(#00000091, 40%, #000000a9), url(../assets/images/xmas_mini.jpg) bottom 8% center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-inline: 3.5%;
	padding-block: 2vh 1vh;
}

/* ========== LAYOUT ========== */

header {
	width: min(100%, (var(--max-width) - 20px));
	margin-bottom: 0.2em;
}

main {
	flex: 1 0;
	width: min(96%, var(--max-width));
}

/* ========== TYPOGRAPHY ========== */

.boldonse-regular {
	font-family: "Boldonse", system-ui;
	font-variant: petite-caps;
	font-weight: 400;
	text-wrap: pretty;
	word-spacing: .04em;
	text-shadow: var(--boldonse-text-shadow);
	-webkit-text-stroke: 0.5px var(--black);
}

h1 {
	font-size: clamp(1rem, -0.15rem + 9.7vw, 3rem);
	letter-spacing: 0.02em;
	line-height: 1.6;
	text-align: center;
}

p {
	font-weight: 500;
}

header,
footer {
	color: var(--darker-ice-blue);
}

main {
	font-family: "Montserrat", sans-serif;
	width: fit-content;
	word-spacing: .02em;
	color: var(--ice-blue);
	-webkit-text-stroke: 0.15px var(--black);
	text-shadow: var(--main-text-shadow);
	padding-inline: 2.5%;
}

div#main-content {
	> p {
		backdrop-filter: blur(1.1px) brightness(93%);
		padding-inline: 1%;
		margin-bottom: 0.91em;

		&:first-child {
			width: fit-content;
		}
	}

	&.default-message {
		font-size: clamp(1.4rem, 0.5rem + 4.2vw, 1.7rem);
		margin-top: 0.7em;

		> p {
			font-style: italic;
			line-height: 1.5;
			margin-top: 0.54em;
			margin-bottom: 0;
		}

		& :last-child {
			font-size: .85em;
			text-align: right;
		}
	}

	&.short-message {
		> p {
			font-size: 1.39rem;
			line-height: 1.77;
		}

		& p:last-child {
			margin-bottom: .2em;
		}
	}

	&.long-message {
		> p {
			font-size: 1.18rem;
			line-height: 1.7;
			padding-inline: unset;
		}
	}

	& p:last-child {
		margin-bottom: .2em;
	}
}

article#nerd-content {
	display: none;
	margin-block: 1.6em 0.5em;
	font-size: clamp(1rem, 2.13vw, 1.1rem);
	width: 96%;

	hr {
		background-image: var(--ice-blue-gradient);
		height: 2px;
		border: none;
		margin-bottom: 1.5em;
	}

	p {
		line-height: 1.75;
		backdrop-filter: blur(1.5px) brightness(94%);
		font-weight: 500;
		margin-left: .1em;
		margin-bottom: 1.1em;

		& span {
			font-weight: 600;
		}

		&:last-child {
			margin-bottom: 0;
		}

		& span::after {
			color: red;
			font-weight: normal;
		}

		& span#css-def::after {
			content: " (Cascading Style Sheets - they tell the web browser how to display a website's contents. I love CSS.)";
		}

		& span#responsive-web-def::after {
			content: " (Building websites so they're readable and navigable regardless of what type of device you're using.)"
		}

		& span#postgresql-def::after {
			content: " (A type of open-source database. I've hosted mine on a platform called Neon and it stores all the information needed to write and send your card.)"
		}
	}
}

.sign-off {
	font-size: clamp(1.02rem, 0.56rem + 3.52vw, 2rem);
	width: min(98%, var(--max-width));
	letter-spacing: .005em;

	> p {
		line-height: 1.95;

		> span {
			font-size: 0.83em;
		}
	}

	> #nerd-stuff {
		font-family: 'Montserrat';
		font-size: clamp(0.8rem, 0.38rem + 1.5vw, 1rem);
		font-variant: normal;
		width: fit-content;
		-webkit-text-stroke: 0;
		margin: -0.23vh -1.3vw -0.2vh auto;
	}
}

/* ========== MEDIA QUERIES ========== */

@media (width > 650px) {
	body {
		padding-block: 3.8vh 2vh;
	}

	header {
		margin-bottom: 0.7em;

		> h1 {
			font-size: clamp(2.05rem, 5.3vw, 3.05rem);
			letter-spacing: 0;
		}
	}

	main {
		width: min(96%, var(--max-width) - 4%);
	}

	div#main-content {
		> p {
			backdrop-filter: blur(0.5px) brightness(95%);
			margin-bottom: 1em;
		}

		&.default-message {
			font-size: clamp(1.8rem, 3.15vw, 2.1rem);
			width: min(83%, var(--max-width) - 4%);
			margin-inline: auto;
		}

		&.short-message > p {
			font-size: clamp(1.34rem, 0.32rem + 2.2vw, 1.6rem);
		}

		&.long-message > p {
			font-size: clamp(1.32rem, 0.5rem + 1.43vw, 1.35rem);
			line-height: 1.77;
		}
	}

	article#nerd-content {
		width: 95%;
	}

	.sign-off {
		display: flex;
		gap: 1.5em;
		align-items: end;
		justify-content: space-between;
		font-size: clamp(1.5rem, -0.5rem + 5vw, 2rem);
		margin-bottom: 0;

		& #nerd-stuff {
			margin: unset;
		}
	}
}

@media (width > 880px) {

	main,
	.sign-off {
		width: min(89%, 840px);
	}
}

@media (width < 385px) {
	div#main-content {
		&.short-message {
			> p {
				font-size: 1.12rem;
			}
		}

		&.long-message > p {
			font-size: 1.005rem;
			line-height: 1.65;
		}
	}
}