:root {
	--black: #121212;
	--transp-black: #121212ba;
	--ice-blue-text: #7ec4cfc9;
	--ice-blue: #abe1e6;
	--max-width: 880px;
}

html {
	height: 100dvh;
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(#0000009f, #000000a8), url(../assets/images/xmas_mini.jpg) bottom 8% center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-inline: 3.5%;
	padding-block: 2.1vh 1.6vh;
	color: var(--ice-blue-text);
}

/* ========== LAYOUT ========== */

header {
	width: min(100%, (var(--max-width) - 20px));
	margin-bottom: 0.5em;
}

main {
	flex: 1 0;
	width: min(96%, var(--max-width));
}

/* ========== TYPOGRAPHY ========== */

.boldonse-regular {
	font-family: "Boldonse", system-ui;
	letter-spacing: 0.025em;
	font-variant: petite-caps;
	font-weight: 400;
	text-wrap: pretty;
	word-spacing: .04em;
	opacity: .92;
	text-shadow:
		1.15px 1.15px 1px var(--black),
		1.15px -1.15px 1px var(--black),
		-1.15px 1.15px 1px var(--black),
		-1.15px -1.15px 1px var(--black);
	-webkit-text-stroke: 0.5px var(--black);
}

h1 {
	font-size: clamp(1rem, 9.3vw, 3.1rem);
	line-height: 1.6;
	text-align: center;
	margin-inline: auto;
}

div#main-content {
	> p {
		backdrop-filter: blur(1.1px) brightness(93%);
		padding-inline: 1%;
		margin-bottom: 0.91em;

		&:first-child {
			width: fit-content;
		}
	}

	&.default-message {
		font-size: clamp(1.4rem, 0.5rem + 4.2vw, 1.7rem);
		margin-top: 0.7em;

		> p {
			font-style: italic;
			line-height: 1.5;
			margin-top: 0.54em;
			margin-bottom: 0;
		}

		& :last-child {
			font-size: .85em;
			text-align: right;
		}
	}

	&.short-message {
		> p {
			font-size: 1.39rem;
			line-height: 1.77;
		}

		& p:last-child {
			margin-bottom: .2em;
		}
	}

	&.long-message {
		> p {
			font-size: 1.18rem;
			line-height: 1.7;
			padding-inline: unset;
		}
	}

	& p:last-child {
		margin-bottom: .2em;
	}
}

article#nerd-content {
	display: none;
	margin-block: 1.6em 0.5em;
	font-size: clamp(1rem, 2.13vw, 1.1rem);
	width: 96%;

	hr {
		background-image: var(--ice-blue-gradient);
		height: 2px;
		border: none;
		margin-bottom: 1.5em;
	}

	p {
		line-height: 1.75;
		backdrop-filter: blur(1.5px) brightness(94%);
		font-weight: 500;
		margin-left: .1em;
		margin-bottom: 1.1em;

		& span {
			font-weight: 600;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}
}

.sign-off {
	width: min(98%, var(--max-width));

	> p {
		font-size: 1em;
		line-height: 2.06;
	}

	> p:first-child {
		font-size: 0.83em;
	}
	> #nerd-stuff {
		font-family: 'Montserrat';
		font-size: clamp(0.74rem, 0.38rem + 1.5vw, .95rem);
		text-align: right;
		font-weight: 600;
		font-variant: normal;
		text-transform: lowercase;
		width: fit-content;
		margin: -0.3vh -1.3vw -0.2vh auto;
	}
}

/* ========== MEDIA QUERIES ========== */

@media (width > 650px) {
	body {
		padding-block: 3.3vh 2vh;
		;
	}

	header {
		margin-bottom: 0.7em;

		> h1 {
			font-size: clamp(2.1rem, 5.1vw, 3rem);
		}
	}

	main {
		width: min(96%, var(--max-width) - 4%);
	}

	div#main-content {
		> p {
		}

		&.default-message {
			font-size: clamp(1.8rem, 3.15vw, 2.1rem);
			width: min(83%, var(--max-width) - 4%);
			margin-inline: auto;
		}

		&.short-message > p {
			font-size: clamp(1.34rem, 0.32rem + 2.2vw, 1.6rem);
		}

		&.long-message > p {
			font-size: clamp(1.32rem, 0.5rem + 1.43vw, 1.35rem);
			line-height: 1.77;
		}
	}

	article#nerd-content {
		width: 95%;
	}

		& #nerd-stuff {
			margin: unset;
		}
	}
}

@media (width > 880px) {
	main {
		width: min(90%, 840px);
	}

	footer.sign-off > p {
		text-align: center;
	}
}

@media (width < 400px) {
	main {
		width: min(97%, var(--max-width));
	}
	div#main-content {
		&.short-message {
			> p {
				font-size: 1.15rem;
			}
		}

		&.long-message > p {
			font-size: 1.005rem;
			line-height: 1.65;
		}
	}
}