:root {
	--black: #121212cc;
	--white: #ccedf6;
	--transp-ice-blue: hsla(187, 61%, 82%, 0.7);
	/* --ice-blue: #afe3eb; */
	--ice-blue: hsl(190, 70%, 79%);
	/* --darker-ice-blue: hsla(192, 29%, 51%, 0.973); */
	--darker-ice-blue: hsl(190, 40%, 55%);
	--ice-blue-gradient: radial-gradient(transparent, hsl(187, 62%, 30%), transparent);
	--max-width: 860px;
	--boldonse-text-shadow: 1.15px 1.15px 1px var(--black), 1.15px -1.15px 1px var(--black), -1.15px 1.15px 1px var(--black), -1.15px -1.15px 1px var(--black);
	--main-text-shadow: 1px 1px 5px var(--black), 1px -1px 5px var(--black), -1px 1px 5px var(--black), -1px -1px 5px var(--black);
}

html {
	height: 100dvh;
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
	justify-content: space-between;
	/* background: linear-gradient(#0000006a, 40%, #00000080), url(../assets/images/xmas_mini.jpg) bottom 8% center no-repeat; */
	background: linear-gradient(#00000079, 35%, #000000b4, #0000009f), url(../assets/images/xmas_mini.jpg) bottom 8% center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-inline: 3.5%;
	padding-block: 2.15vh 1.12vh;
}

/* ========== LAYOUT ========== */

header {
	width: min(100%, (var(--max-width) - 20px));
	margin-bottom: 0.2em;
}

main {
	flex: 1 0;
	width: min(96%, var(--max-width));
}

/* ========== TYPOGRAPHY ========== */

.boldonse-regular {
	font-family: "Boldonse", system-ui;
	font-variant: petite-caps;
	font-weight: 400;
	text-wrap: pretty;
	word-spacing: 0.04em;
	text-shadow: var(--boldonse-text-shadow);
	-webkit-text-stroke: 0.5px var(--black) !important;
}

h1 {
	font-size: clamp(1rem, -0.14rem + 9.3vw, 2.8rem);
	letter-spacing: 0.02em;
	line-height: 1.6;
	text-align: center;
}

p {
	font-weight: 500;
	-webkit-text-stroke: 0.15px var(--black);
}

header,
footer {
	color: var(--darker-ice-blue);
}

main {
	font-family: "Montserrat", sans-serif;
	line-height: 1.63;
	word-spacing: 0.02em;
	color: var(--ice-blue);
	text-shadow: var(--main-text-shadow);
	padding-inline: 2.5%;
}

div#main-content {
	backdrop-filter: blur(1.2px) brightness(90%);

	> p {
		margin-bottom: 0.85em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.default-message {
		font-size: clamp(1.2rem, 0.5rem + 3.3vw, 1.5rem);

		> p {
			font-style: italic;
			margin-block: 0.5em 0;
		}

		& :last-child {
			font-size: 0.9em;
			text-align: right;
		}
	}

	&.short-message > p {
		font-size: clamp(1.1rem, 0.3rem + 3.7vw, 1.25rem);
	}

	&.long-message > p {
		font-size: clamp(1.19rem, 0.5rem + 1.4vw, 1.35rem);
	}
}

article#nerd-content {
	display: none;
	font-size: clamp(1rem, 2.1vw, 1.05rem);
	width: 98%;
	padding-inline: 0.5%;
	margin-inline: auto;

	hr {
		background-image: var(--ice-blue-gradient);
		height: 2px;
		width: 86%;
		opacity: 0.75;
		border: none;
		margin-block: 1.3em;
	}

	backdrop-filter: blur(1.5px) brightness(89%);
	border: black solid 0;
	border-radius: 30px;

	p {
		margin-bottom: 1.1em;

		& span {
			font-weight: 700;
			text-decoration: underline dotted var(--transp-ice-blue) 1px;
			text-underline-offset: 0.275em;

		}

		&:last-child {
			margin-bottom: .2em;
		}

		& span::after {
			color: var(--white);
			font-size: .98em;
			font-weight: 500;
			font-style: italic;
			margin-inline: 0.25em;
		}

		& .css-def::after {
			content: " [Cascading Style Sheets - they tell the browser how to display a website's contents.]"
		}

		& .responsive-def::after {
			content: " [Building websites so they're readable and navigable regardless of what type of device you're using.]"
		}

		& .postgresql-def::after {
			content: " [A type of open-source database. I've hosted mine on a platform called Neon and it stores all the information needed to write and send your card.]"
		}
	}
}

.sign-off {
	font-size: clamp(1rem, 0.4rem + 3.5vw, 1.7rem);
	width: min(96%, var(--max-width));
	letter-spacing: 0.01em;

	> p {
		line-height: 1.95;

		> span {
			font-size: 0.82em;
		}
	}

	> #nerd-stuff {
		font-family: 'Montserrat';
		font-size: clamp(0.82rem, 0.38rem + 1.4vw, 0.99rem);
		font-variant: normal;
		-webkit-text-stroke: 0;
		width: fit-content;
		margin: -0.2vh -0.7vw -0.1vh auto;
	}
}

/* ========== MEDIA QUERIES ========== */

@media (width > 650px) {
	body {
		padding-block: 3.5vh 1.4vh;
	}

	header {
		margin-bottom: 0.4em;

		> h1 {
			font-size: clamp(2.05rem, 5.2vw, 3.05rem);
			letter-spacing: 0;
		}
	}

	main {
		width: min(92%, var(--max-width) - 6%);

		div#main-content {
			> p {
				backdrop-filter: blur(0.5px) brightness(89%);
				line-height: 1.72;
			}

			&.default-message {
				font-size: clamp(1.56rem, 3.15vw, 1.7rem);
				width: 80%;
				margin-inline: auto;

				> p {
					margin-block: 0.4em 0;
				}
			}

			&.short-message > p {
				font-size: clamp(1.3rem, 0.32rem + 2.2vw, 1.48rem);
				font-weight: 400;
				padding-inline: 0.5em;
			}

			&.long-message > p {
				font-size: clamp(1.18rem, 0.5rem + 1.43vw, 1.2rem);
			}
		}
	}

	.sign-off {
		display: flex;
		gap: 1.5em;
		align-items: end;
		justify-content: space-between;
		font-size: clamp(1.45rem, -0.5rem + 4vw, 1.9rem);
		margin-bottom: 0;

		> p > span {
			font-size: 0.78em;
		}

		& #nerd-stuff {
			margin: unset;
		}
	}
}

@media (width > 880px) {

	main,
	.sign-off {
		width: min(89%, 840px);
	}
}